.ab1{
    border-radius: 10px;
}
.abic{
    
    background-color: rgb(211, 194, 39);
    font-size: 20px;
    border-radius: 3px;
    color: rgb(0, 0, 0);
}
.abic:hover{
    background-color: rgb(236, 30, 30);
    color: white;
}
.btn{
    margin-top: 20px;
    padding-left: 100px;

    
}
.container{
    
        margin: 130px  550px;
        font-size: 14px;
        min-height: 10vh;
        font-family: sans-serif;
        background: rgba(209, 24, 200, 0.493);    
        padding: 30px;
        border-radius: 15px;
        text-transform: uppercase;
        
    
}

